<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Fitocity</title>
  <!-- Bootsrap CSS Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">

  <!--
Bootstrap JS Link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js">

  </script>
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
  <!-- Css style file -->
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <!-- FontAwesome CDN -->
<script src="https://kit.fontawesome.com/7bb6c2a3f3.js" crossorigin="anonymous"></script>
</head>

<body>
  <section id="title">

    <!-- Nav Bar -->
    <div class="container-fluid">


      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand"> Fitocity </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#content" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="content">
          <ul class="navbar-nav  ms-auto">
            <li class="nav-item">
              <a class="nav-link"
                href= "#footer">
                Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#press">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Get Started</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Title -->

      <div class="row">

        <div class="col">

          <h1 id="name">Fitocity</h1>
          <h6 id="tagline" >Health above all </h6>
          
        <a href="{{ url_for('landing')}}">
          <button type="button" class="btn btn-dark btn-lg download-button"> Sign up</button>
        </a>
        <a href="{{ url_for('login')}}">
          <button type="button" class="btn btn-outline-light btn-lg download-button"> Sign in</button>
        </a>
        </div>



      </div>
    </div>
  </section>


  <!-- Features -->

  <section id="features" class="container-fluid">
    <div class="row">

      <div class="col-lg-4">

        <i class="fa-solid fa-circle-check" id="section-i">

        </i>

        <h3>Easy to use.</h3>
        <p>Extremely handy and simple.</p>
      </div>

      <div class="col-lg-4">
        <i class="fa-solid fa-bullseye" id="section-i"></i>
        <h3>Accurate Reports</h3>
        <p>Provides correct results within seconds.</p>
      </div>

      <div class="col-lg-4">
        <i class="fa-solid fa-heart" id="section-i"></i><i class=></i>
        <h3>Reliable Solutions</h3>
        <p>Effective medication for your problems.</p>
      </div>

    </div>
  </section>



  <!-- functionality -->


    <section id="press">
      <p>What do we do ?</p>
    </section>



  <section id="functionality">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>Diagnose your disease.</h2>
          <img class="test-img" src="{{ url_for('static', filename='diagnose.jpeg')}}" alt="dog-profile">

        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Generate your health reports with medication.</h2>
          <img class="test-img" src="{{ url_for('static', filename='report.jpeg')}}" alt="lady-profile">

        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Prepare your diet charts.</h2>
          <img class="test-img" src="{{ url_for('static', filename='diet.jpg')}}" alt="lady-profile">

        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Locate your nearby medical store.</h2>
          <img class="test-img" src="{{ url_for('static', filename='locate.jpeg')}}" alt="lady-profile">

        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Maintain your records.</h2>
          <img class="test-img" src="{{ url_for('static', filename='record.jpeg')}}" alt="lady-profile">

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>



  <!-- Footer -->

  <footer id="footer">


<i class="fa-brands fa-twitter footer-i"></i>
<i class="fa-brands fa-facebook footer-i"></i>
<i class="fa-brands fa-instagram footer-i"></i>
<i class="fa-solid fa-envelope footer-i"></i>
    <p>© Copyright Fitocity</p>

  </footer>


</body>

</html>
