<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Kidney Details</title>
  <!-- Bootsrap CSS Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!--
  Bootstrap JS Link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js">

  </script>
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
  <!-- Css style file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='kidney.css') }}" type="text/css">
  <!-- <link rel="stylesheet" href="kidney.css"> -->
  <!-- FontAwesome CDN -->
  <script src="https://kit.fontawesome.com/7bb6c2a3f3.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="introduction">
    <nav class="navbar navbar-expand-lg navbar-dark ">

      <a class="navbar-brand"> Fitocity </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#content" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="content">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="landing.html">
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Sign Out</a>
          </li>

        </ul>
      </div>
    </nav>


    <h1>Please provide your kidney details</h1>

    <br>

  <form action="/result" method="POST">
    <div class="container-fluid" style="padding: 7% 15%;">
      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="age" class="form-label">Age</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="age" >
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="bp" class="form-label">B.P</label>
        </div>
        <div class="col">
          <input type="text" class="form-control"  name="bp">
        </div>
      </div>


      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="al" class="form-label">A.L</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="al">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="pcc" class="form-label">P.C.C</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="pcc">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="bgr" class="form-label">B.G.R</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="bgr">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="bu" class="form-label">B.U</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="bu">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="sc" class="form-label">S.C</label>
        </div>
        <div class="col">
          <input type="text" class="form-control"  name="sc">
        </div>
      </div>


      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="hemo" class="form-label">HEMO</label>
        </div>
        <div class="col">
          <input type="text" class="form-control"  name="hemo">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="pcv" class="form-label">P.C.V</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="pcv">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="htn" class="form-label">HTN</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="htn">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="dm" class="form-label">DM</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="dm">
        </div>
      </div>

      <div class="row justify-content-md-center mb-3">
        <div class="col">
          <label for="appet" class="form-label">Appet</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="appet">
        </div>
      </div>
      <br><br> <br>
      <button type="submit" class="btn btn-dark">Submit</button>


    </div>
  </form>
  </div>


</body>

</html>
