.introduction{
  background-color: #1C6758;
  color: white;
  height: 520px;
  text-align: center;
  padding: 3% 7% 15%;
}
h1 {
  padding-top: 3%;
  font-size: 3.5rem;
  font-family: "Ubuntu";
  line-height: 1.5;
}
/*
Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding-right: 1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

#tagline{
  padding-top: 2%;
  text-align: center;
  font-size: 3.62rem;
  font-family: 'Sacramento', cursive;
  line-height: 1.5;

}
.options{
  height: 520px;
  text-align: center;
  padding: 3% 7% 15%;
  padding-top: 7%;
margin-left: 60px;
height: 750px;
font-family: "Ubuntu";
}
.card-img-top{
  height: 500px;
  width: 500px;
text-align: center;
}
.card{
  height: 500px;
  width: 500px;
}
.card-body{

    background-color: #1C6758;
    color: white;
    line-height: 2;
    font-weight: bolder;

    border-radius: 10px;
}
#c2{
  padding-top: 32px;
}


/* LAST SECTION */
#footer{
  background-color: #1C6758;
  color: white;

  height: 300px;
  padding: 9% 15% 5%;
  text-align: center;
}
.footer-i{
  margin: 1%;
  margin-bottom: 2%;
  font-size: 2rem;

}
